TIWANI_EMAIL_DELIVERY_ENABLED=false
TIWANI_APP_DISPLAY_NAME=Tiwani
TIWANI_EMAIL_FROM=
TIWANI_SUPPORT_EMAIL=
TIWANI_SMTP_HOST=
TIWANI_SMTP_PORT=587
TIWANI_SMTP_SECURE=false
TIWANI_SMTP_USER=
TIWANI_SMTP_PASSWORD=
