node_modules/
.DS_Store
Tiwani_Frontend_Guide.md
Tiwani_Frontend_Implementation_Guide.md
Tiwani_Second_Phase_v1.md
Tiwani_Project_Document_Deji.html
instruction.md
Instruction.md
Tiwani_Production_and_App_Store_Launch_Guide.md
expo/
.expo/
.env
!.env.example
hardcut.md
GoogleService-Info.plist
google-services.json
firestore-debug.log
firebase-debug.log
functions/lib/
functions/node_modules/
*.jks
*.keystore
*.p8
*.cer
*.mobileprovision
